<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>Code: Debugging the Gender Gap Experience</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

  </head>
  <body>
    <div id='header'>
      <span class="element"></span>
      <div id='white_menu'></div>
      <div id='code'>if ( numberOfMen > numberOfWomen )<br>{ console.log("gender gap"); }</div>
      <div id='bigcode'><pre> CO//            DE  </pre></div>
    </div>
    <div id='question1block'>
      <div id='blue_menu'></div>
      <div id='comment'><pre>   //                </pre></div>
      <h2><b>Code: Debugging the Gender Gap</b></h2>
      <h5>The documentary is part of a much larger battle to close the gender gap in the tech world, 
        bring additional diversity to the workforce, and indeed improve the economics of the hiring in Silicon Valley
        and other tech hubs.
      </h5>
      <div id='question'>
        <form>
          <b>I'm a</b>
          <select name="occupation">
            <option value="developer">Developer</option>
            <option value="student">Student</option>
            <option value="employer">Employer</option>
            <option value="other">Other</option>
          </select>
        </form>
      </div>
    </div>
    <div id='question2block'>
      <div id='comment'><pre>   //                </pre></div>
      <h3>A bit about you</h3>
      <input id="identityText" placeholder="How would you describe yourself in 4 words?"/>
      <span id='charCount'>0/150</span>
      <button class='blue' type="submit">COMMIT</button>
    </div>
    <footer>
      <div class='partners'>Community Sponsors</div>
      <div class='partners_list'>
        <ul>
          <li><a href="https://acreative.io/" target="_blank">Acreative.</a></li>
          <li><a href="http://appcamp4girls.com/" target="_blank">App Camp for Girls</a></li>
          <li><a href="http://bitchmedia.org" target="_blank">Bitch Magazine</a></li>
          <li><a href="http://chicktech.org/" target="_blank">ChickTech</a></li>
          <li><a href="https://www.cloudability.com/" target="_blank">Cloudability</a></li>
          <li><a href="http://instrument.com" target="_blank">Instrument</a></li>
        </ul>
        <ul>
          <li>Jasper Sisco Winery</li>
          <li>PDC</li>
          <li>PlusQA</li>
          <li>Sequoia</li>
          <li>Umpqua</li>
          <li>Uncorked Studios</li>
        </ul>
        <ul>
          <li>W+K</li>
          <li>Ziba</li>
          <li>Google</li>
          <li>Epicodus</li>
          <li>ChickTech</li>
          <li>New Relic</li>
        </ul>
      </div>
    </footer>
  </body>
</html>